.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-color: rgb(136, 17, 17);
    color: white;
    padding: 10px 15px;
    opacity: 75%;
}

.card .button {
    opacity: 100%;
}