.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    height: 50px;
    width: 100%;
}

.title {
    color: white;
    font-weight: bold;
}

.control {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
