.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(63, 17, 136);
    height: 75px;
    width: 100%;
}

.title {
    color: white;
    font-weight: bold;
    filter: drop-shadow(10px 10px 10px black);
    text-transform: uppercase;
}

.control {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

